@import "tailwindcss/index.css";

* {
  font-family: Roboto;
}

:root {
  color: #0f172a;
  background: #f3f6fb;
  font-size: 11px; /* 11 13 15 17 19 */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

@media (max-width: 960px) {
  .page {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 2;
  }
}
