@import "tailwindcss/index.css";

* {
  font-family: Roboto;
}

:root {
  color: #0f172a;
  background: #f3f6fb;
  font-size: 11px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (max-width: 960px) {
  .page {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 2;
  }
}
